:root {
  --color-accent: #1A3E3E;
  --color-highlight: #F2BE22;
  --color-gray: #F3F5F4;
  --color-gray-alt: #18121E;
  --color-dark: #18121E;

  --shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);

  --border-radius-small: 4px;
  --border-radius: 6px;
  --border-radius-big: 10px;
  --border-radius-large: 32px;

  --container-width: 1180px;
  --container-padding-x: 16px;
  --container-padding-y: 100px 0 80px 0;

  --button-height: 52px;
  --input-height: 44px;

  --transition-duration: .2s;
}